<IfModule mod_rewrite.c>


# Tell PHP that the mod_rewrite module is ENABLED.

SetEnv HTTP_MOD_REWRITE On

#Options FollowSymLinks

RewriteEngine on



RewriteCond %{REQUEST_URI} -d
RewriteRule !^(public/|index\.php) [NC,F]

#RewriteCond %{REQUEST_METHOD} (PUT|DELETE)

# The rest of your rewrite rules here

# RewriteRule ^/~([^/]+)/?(.*) /u/$1/$2 [R]

#RewriteRule ^ index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} ^(^.*)\.(.+) [NC]

RewriteRule ^((?s).*)$ index.php?_uri=/$1&_subdomain=%1 [QSA,L]



#RewriteCond %{HTTP_HOST} ^(^.*)\.(.+)
#RewriteRule (.*) index.php?_subdomain=%1

#RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/?$ index.php?c=$1&d=$2 [NC,L]

# Handle product requests


</IfModule>

